@model InsanKaynaklari.Domain.Dtos.ForgotPasswordDTo
@{
	Layout = "~/Views/Shared/_UnSignInLayout.cshtml";
}

<div class="container mt-5">
	<h1>Forgot Password</h1>

	<form asp-action="forgotpassword" method="post" class="mt-4">
		<div class="form-group">
			<label asp-for="EMailAddress">E-Mail Address</label>
			<input type="text" asp-for="EMailAddress" class="form-control" />
			<span asp-validation-for="EMailAddress" class="text-danger"></span>
		</div>
		<br />
		@if (TempData["msg"] != null)
		{
			<div class="alert alert-danger">
				@TempData["msg"]
			</div>
		}
		<br />
		<button type="submit" class="btn btn-primary">Send EMail</button>
	</form>
</div>

