@model InsanKaynaklari.Domain.Dtos.ForgotPasswordDTo

<div class="container mt-5">
	<h1>Reset Password</h1>

	<form asp-action="passwordchange" method="post" class="mt-4">
		<div class="form-group">
			<label asp-for="EMailAddress">Email</label>
			<input type="text" asp-for="EMailAddress" class="form-control" />
			<span asp-validation-for="EMailAddress" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="OldPassword">Old Password</label>
			<div class="input-group">
				<input type="password" asp-for="OldPassword" class="form-control" id="passwordInput" />
				<div class="input-group-append">
					<div class="input-group-text">
						<input type="checkbox" id="showPasswordCheckbox" onchange="togglePasswordVisibility()" />
						<label for="showPasswordCheckbox">Show Password</label>
					</div>
				</div>
			</div>
			<span asp-validation-for="OldPassword" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewPassword">New Password</label>
			<div class="input-group">
				<input type="password" asp-for="NewPassword" class="form-control" id="passwordInput2" />
				<div class="input-group-append">
					<div class="input-group-text">
						<input type="checkbox" id="showPasswordCheckbox2" onchange="togglePasswordVisibility()" />
						<label for="showPasswordCheckbox2">Show Password</label>
					</div>
				</div>
			</div>
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ReNewPassword">ReNew Password</label>
			<div class="input-group">
				<input type="password" asp-for="ReNewPassword" class="form-control" id="passwordInput3" />
				<div class="input-group-append">
					<div class="input-group-text">
						<input type="checkbox" id="showPasswordCheckbox3" onchange="togglePasswordVisibility()" />
						<label for="showPasswordCheckbox3">Show Password</label>
					</div>
				</div>
			</div>
			<span asp-validation-for="ReNewPassword" class="text-danger"></span>
		</div>

		@if (TempData["msg"] != null)
		{
			<div class="alert alert-danger">
				@TempData["msg"]
			</div>
		}

		<button type="submit" class="btn btn-primary">Change Password</button>
	</form>
</div>
<script>
	function togglePasswordVisibility() {
		var passwordInput = document.getElementById("passwordInput");
		var showPasswordCheckbox = document.getElementById("showPasswordCheckbox");

		if (showPasswordCheckbox.checked) {
			passwordInput.type = "text";
		} else {
			passwordInput.type = "password";
		}
		var passwordInput2 = document.getElementById("passwordInput2");
		var showPasswordCheckbox2 = document.getElementById("showPasswordCheckbox2");

		if (showPasswordCheckbox2.checked) {
			passwordInput2.type = "text";
		} else {
			passwordInput2.type = "password";
		}
		var passwordInput3 = document.getElementById("passwordInput3");
		var showPasswordCheckbox3 = document.getElementById("showPasswordCheckbox3");

		if (showPasswordCheckbox3.checked) {
			passwordInput3.type = "text";
		} else {
			passwordInput3.type = "password";
		}
	}
</script>