@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<a href="@Url.Action("ListEmployees", "Employee")" class="btn btn-primary">Update</a>